@use "../../variables.scss" as *;
@use "../../fonts.scss";

.right-sidebar {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: .5rem 1rem;
	background: var(--bg);

	/* HEADER */
	.right-sidebar-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: var(--space-lg);

	}

	/* CONTENT */


	/* FOOTER */
	.right-sidebar-footer {
		display: flex;
	}
}
