@use "../../variables" as *;
@use "../../fonts.scss";

.landing {
	font-family: "Inter", sans-serif;
	background: $black;
	color: white;

	.navbar {
		display: flex;
		justify-content: space-between;
		background: black;
		border-bottom: 1px solid #222;
		font-family: "Great Vibes", cursive;
		padding: .8rem 1rem;

		.navbar-first-section {
			.logo {
				display: flex;
				align-items: center;

				img {
					height: 4rem;
				}

				span {
					display: flex;
					flex-direction: column;
				}

				font-size: 1.8rem;
			}

			button.burger {
				display: none;
				background: none;
				border: none;
				color: white;
				font-size: 2.5rem;
				cursor: pointer;
				z-index: 1000;
			}
		}
		

		nav {
			align-content: center;

			a {
				margin-left: 30px;
				text-decoration: none;
				color: white;
				font-weight: 500;
				font-size: 1.4rem;
			}
		}
	}

	.hero {
		height: 42rem;
		background:
			linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("../../../public/assets/img/birria.png");
		background-size: cover;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		h1 {
			font-family: "Cinzel", serif;
			font-size: 7rem !important;
			font-weight: bold;
			letter-spacing: 1px;
			color: #d62828;
			margin: 10px !important;
		}

		img {
			width: 32rem;
		}

		h2 {
			font-family: "Great Vibes", cursive;
			font-size: clamp(1.5rem, 3vw, 2.5rem);
			font-weight: normal;
			font-size: 4rem !important;
		}
	}

	.heroContent h1 {
		font-family: "Cinzel", serif;
		color: $red;
	}

	.heroContent h2 {
		margin-bottom: 30px;
	}

	.cta {
		background: $red;
		padding: 14px 30px;
		border-radius: 6px;
		text-decoration: none;
		color: white;
		font-weight: bold;
		display: inline-flex;
		align-items: center;
		gap: 10px;
	}

	.carousel {
		display: flex;
		gap: 20px;
		padding: 40px;
		justify-content: center;

		img {
			width: 300px;
			border-radius: 10px;
		}
	}

	.products {
		display: flex;
		justify-content: center;
		gap: 40px;
		padding: 50px;

		h3 {
			font-family: "Cinzel", serif;
			font-size: 1.8rem;
		}
	}

	.product img {
		width: 350px;
		border-radius: 10px;
	}

	.orders {
		h2 {
			font-family: "Great Vibes", cursive;
			margin: 0px !important;
		}
		font-size: 2rem;
		text-align: center;
		padding: 20px;
	}

	.whatsapp {
		font-size: 1.5rem;
		color: #25d366;
		display: inline-flex;
		align-items: center;
		gap: 10px;
	}

	.location {
		text-align: center;
		padding: 40px;

		h2 {
			font-family: "Great Vibes", cursive;
			font-size: 3rem;
		}
	}

	.footer {
		text-align: center;
		padding: 20px;
		background: black;
		font-size: 0.8rem;
		color: #888;
	}

	.slider {
		width: 100%;
		height: 500px;
	}

	.swiper {
		width: 100%;
		height: 100%;
	}

	.slide {
		position: relative;
		width: 100%;
		height: 500px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(0.6);
		}
	}

	.slideText {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		h2 {
			font-size: 3rem;
			color: #e50914;
			font-family: "Cinzel", serif;
			margin-bottom: 10px;
			text-shadow:
				-2px -2px 0 #ffffff,
				2px -2px 0 #ffffff,
				-2px 2px 0 #ffffff,
				2px 2px 0 #ffffff;
		}

		p {
			font-size: 2.4rem;
			font-family: "Great Vibes", cursive;
		}
	}
}

/* =========================
   TABLETS
========================= */
@media (max-width: $tablet) {
	.landing {

		.navbar {		
			nav a {
				margin-left: 20px;
				font-size: 1.2rem;
			}
		}

		.hero {
			height: 36rem;

			h1 {
				font-size: 5rem !important;
			}

			h2 {
				font-size: 3rem !important;
			}

			img {
				width: 24rem;
			}
		}

		.products {
			flex-wrap: wrap;
			gap: 30px;
		}

		.product img {
			width: 280px;
		}

		.carousel img {
			width: 250px;
		}

		.slideText h2 {
			font-size: 2.4rem;
		}

		.slideText p {
			font-size: 2rem;
		}
	}
}


/* =========================
   MOBILE
========================= */
@media (max-width: $mobile) {
	.landing {

		.navbar {
			flex-direction: column;
		
			.navbar-first-section {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.logo {
					display: flex;
					flex-direction: column;
					
					img {
						display: none;
					}
				}

				button.burger {
					display: flex;
					flex-direction: column;
				}
			}

			nav {
				&.navOpen {
					display: flex;
				}

				display: none;
				flex-direction: column;
				width: 100%;
				justify-content: center;

				a {
					display: flex;
					flex-direction: column;
					margin: .6rem 0rem;
					font-size: 1.2rem;
				}
			}

		}

		.hero {
			height: 34rem;
			padding: 1.4rem;

			h1 {
				font-size: 4rem !important;
			}

			h2 {
				font-size: 2.5rem !important;
			}

			img {
				width: 20rem;
			}
		}

		.products {
			flex-direction: column;
			align-items: center;
			padding: 30px;
		}

		.product img {
			width: 260px;
		}

		.carousel {
			flex-direction: column;
			align-items: center;
		}

		.carousel img {
			width: 80%;
		}

		.slide {
			height: 400px;
		}

		.slideText h2 {
			font-size: 2rem;
		}

		.slideText p {
			font-size: 1.8rem;
		}
	}
}


/* =========================
   SMALL MOBILE
========================= */
@media (max-width: $mobileSmall) {
	.landing {
		.navbar {
			flex-direction: column;
		
			.navbar-first-section {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.logo {
					display: flex;
					flex-direction: column;
					
					img {
						display: none;
					}

					span {
						display: flex;
						flex-direction: column;
						font-size: 1.8rem;
						font-weight: bold;
					}
				}

				button.burger {
					display: flex;
					flex-direction: column;
				}
			}

			nav {
				&.navOpen {
					display: flex;
				}

				display: none;
				flex-direction: column;
				width: 100%;
				justify-content: center;

				a {
					display: flex;
					flex-direction: column;
					margin: .6rem 0rem;
					font-size: 1.2rem;
				}
			}

		}

		.hero {

			h1 {
				font-size: 3rem !important;
			}

			h2 {
				font-size: 2rem !important;
			}

			img {
				width: 16rem;
			}
		}

		.products {
			padding: 20px;
		}

		.product img {
			width: 220px;
		}

		.slide {
			height: 320px;
		}

		.slideText h2 {
			font-size: 1.6rem;
		}

		.slideText p {
			font-size: 1.4rem;
		}

		.orders {
			font-size: 1.5rem;
		}
	}
}