.search-products-input {
  background: var(--surface);
  border: 2px solid var(--border);
  border-radius: 8px;
  width: 100%;
}

.search-product-icon {
  color: var(--text);
}

.scan-product-icon {
  color: var(--text);
}

.bluetooth-product-icon {
  color: var(--text);
}