@font-face {
	font-family: "Cinzel";
	src: url("../public//assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Cinzel";
	src: url("../public/assets/fonts/Cinzel/static/Cinzel-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Great Vibes";
	src: url("../public/assets/fonts/Great_Vibes/GreatVibes-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "BitcountInk";
	src: url("../public/assets/fonts/Bitcount_Ink/BitcountInk-VariableFont_CRSV\,ELSH\,ELXP\,SZP1\,SZP2\,XPN1\,XPN2\,YPN1\,YPN2\,slnt\,wght.ttf") format("truetype");
}